.container main .col:nth-child(1n) .color {
    background-color: #2d73a2; }
  .container main .col:nth-child(2n) .color {
    background-color: #3a90c8; }
  .container main .col:nth-child(3n) .color {
    background-color: #62a6d3; }
  .container main .col:nth-child(4n) .color {
    background-color: #8abdde; }
  .container main .col:nth-child(5n) .color {
    background-color: #b2d3e9; }
  .container main .col .card {
    height: 300px; }
    .container main .col .card .color {
      display: flex;
      justify-content: left;
      align-items: flex-start;
      height: 80%; }
      .container main .col .card .color .card-header {
        border-radius: 5px;
        background-color: #57cc99; }
    .container main .col .card .card-title {
      font-weight: bold; }