.container footer {
    display: flex;
    justify-content: space-between; }
    .container footer .contact {
      display: flex;
      justify-content: flex-end;
      gap: 10%; }
      .container footer .contact .img-fluid {
        width: 100%;
        max-width: 40px; }