.container .navbar {
    background-color: #22577a; }
    .container .navbar .container-fluid {
      display: flex;
      flex-wrap: nowrap; }
      .container .navbar .container-fluid .navbar-brand {
        font-weight: bold;
        color: #ffffff; }
      .container .navbar .container-fluid .btn {
        background: #57cc99;
        font-weight: bold; }
      .container .navbar .container-fluid .img-fluid {
        max-width: 7%;
        height: auto; }
