
@media (min-width: 500px) {
  .container {
    width: 500px; }

  .navbar {
    height: 60px; } }
@media (min-width: 768px) {
  .container {
    width: 700px; } }
@media (min-width: 992px) {
  .container {
    width: 1000px; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
@media (min-width: 1400px) {
  .container {
    width: 1400px; } }
@media (min-width: 1500px) {
  .container {
    width: 1500px; } }
@media (min-width: 500px) {
  .card {
    width: 230px; } }
@media (min-width: 768px) {
  .card {
    width: auto; } }

/*# sourceMappingURL=style.css.map */
