
.header {
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__container {
    width: 1000px;
    margin: 0 auto; }
  .header__logo {
    font-size: 24px;
    font-weight: bold; }
  .header__title {
    font-size: 24px;
    font-weight: bold; }

.container {
  width: 1000px;
  margin: 0 auto; }

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center; }

.objects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .objects .object {
    width: calc((100% - 40px) / 5);
    margin-bottom: 40px; }
    .objects .object:nth-child(1) {
      background-color: #cccccc;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      text-align: center;
      border-radius: 5px; }
    .objects .object:nth-child(2) {
      background-color: #cccccc;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      text-align: center;
      border-radius: 5px; }
    .objects .object:nth-child(3) {
      background-color: #cccccc;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      text-align: center;
      border-radius: 5px; }
    .objects .object:nth-child(4) {
      background-color: #cccccc;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      text-align: center;
      border-radius: 5px; }
    .objects .object:nth-child(5) {
      background-color: #cdcdcd;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      text-align: center;
      border-radius: 5px; }
  .objects .object__image {
    height: 150px;
    width: 100%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .objects .object__type {
    font-size: 20px;
    margin-top: 10px; }
  .objects .object__name {
    font-size: 24px;
    margin-top: 10px; }
  .objects .object__description {
    font-size: 16px;
    margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
