{{#each objects}}
  <div class="col">
    <div class="card border-dark" data-bs-toggle="modal" data-bs-target="#modal" id="object-{{id}}">
      <div class="color">
        <div class="card-header">{{type}}</div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
      </div>
    </div>
  </div>
{{/each}}