<div class="faq">Демухаметов Павел Насипович</div>
<div class="contact">
  <a href="#" target="_blank"><img class="align-text-center img-fluid" src="https://cdn-icons-png.flaticon.com/512/3536/3536661.png "></a>
  <a href="#" target="_blank"><img class="align-text-center img-fluid" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png "></a>
  <a href="#" target="_blank"><img class="align-text-center img-fluid" src="https://cdn-icons-png.flaticon.com/512/5968/5968835.png"></a>
</div>