
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png " alt="Logo" class="align-text-center img-fluid">
      My Website v2
    </a>
    <button Type="button" class="btn" id="toastbtn">Button</button>
  </div>
