<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" >
<div id="toastNotice" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto">Error</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
  </div>
  <div class="toast-body">
    Ничего не работает. Разраб дурак!
  </div>
</div>
</div>